.center{
    margin:auto;
    border:2px solid #eeee;
    padding:10px;
    width:50%
}
.text-center{
    text-align:center;

}

.full-width{
    width:50%
}
button{
    margin:5px;
}

error-div{
    border:2px solid red;
}