<app-comment-details *ngFor = "let comment of comments" [comment]='comment'></app-comment-details>
<!-- <div *ngFor = "let comment of comments">
<mat-card  class="commentMain">
    <h4 style="color: lightcoral;"><b>{{comment.userID}}</b>:</h4>
    <h4><i>{{comment.comment}}</i></h4>
    <br/>
    <table>
        <tr>
            <td class = "commentLikeCount">
                {{comment.likes}} likes
            </td>
            <td class="commentLikeButton">
                <button mat-mini-fab color="basic" aria-label="Example icon button with a menu icon"> <!--(click)="liked(comment.commentId)" *ngIf="!likeStatus"> --
                    <mat-icon>thumb_up</mat-icon>
                </button>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon"> <!--(click)="liked(comment.commentId)" *ngIf="likeStatus"> --
                    <mat-icon>thumb_up</mat-icon>
                </button>
            </td>
        </tr>
    </table>
</mat-card>
&nbsp;
</div> -->