.commentMain{
    text-align: left;
    padding: 5mm;
}
.commentMain:hover{
    background-color: rgba(179, 187, 202, 0.514);
}
.commentMain table{
    width: 100%;
}
.commentLikeButton{
    text-align: right;
}
.commentLikeCount{
    text-align: left;
}